{# empty Twig template #}

{% extends "PokouCenterBundle::layout.html.twig" %}

{% block article %}
    <h1>PokoùCenter</h1>
    {% if is_granted('ROLE_USER') %}
        <p>Vous êtes bien connecté</p>
    {% else %}
    <p>Un compte utilisateur est requis pour ce site, veuillez vous connecter ou vous inscrire à l'aide des liens disponibles dans la colonne de droite.</p>
    {% endif %}
    {% endblock %}

