{# empty Twig template #}

{% extends "::base.html.twig" %}

{% block article %}
    <h1>Page de connexion</h1>
    <p>L'utilisation de cette application demande aux utilisateurs d'être authentifiés.</p>
    <p>Vous pouvez vous connecter à l'aide du formulaire disponible à droite.</p>
    <p>Si vous n'êtes pas inscrit au site, veuillez utiliser le bouton d'inscription suivant :</p>
    <form action='register' method='post'><input type='submit' value="S'inscrire"/></form>
{% endblock %}    
    
{% block connexion %}
    
    {# On affiche l'erreur si il y en a une #}
    {% if error %}
        <p>{{ error.message }}</p>
    {% endif %}
    
    {# Formulaire, avec URL de soumission vers la route "login_check" #}
    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Login :</label><br />
        <input type="=text" id="username" name="_username" value="{{ last_username }}" /><br />
        <label for="password">Mot de passe :</label><br/>
        <input type="password" id="password" name="_password"/><br/>
        <input type="reset" value="Annuler"/><input type="submit" value="Se connecter"/>
    </form>
{% endblock %}